@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@layer base {
  html, body {
    @apply font-sans overscroll-none overflow-x-hidden;
    background: #f8f8f8;
  }
}

@layer utilities {
  .animate-bounce-slow {
    animation: bounce-slow 1.5s infinite;
  }
  @keyframes bounce-slow {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(18px); }
  }
}


@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fade-in {
    animation: fadeIn 2s ease-out forwards;
  }
}